ADMIN_TOKEN=
DOMAIN=
IP_HEADER=
INVITATIONS_ALLOWED=false
SENDS_ALLOWED=false
SHOW_PASSWORD_HINT=false
SIGNUPS_ALLOWED=false
SMTP_HOST=
SMTP_PORT=
SMTP_SECURITY=starttls
SMTP_FROM=
SMTP_FROM_NAME=
SMTP_USERNAME=
SMTP_PASSWORD=
